---
import ServiceCard from "@/components/ServiceCard.tsx";
import type { FC } from "react";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Service {
  icon: FC<any>;
  title: string;
  description: string;
}

export interface Props {
  services: Service[];
}

const { services } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="services" class="py-20 bg-background">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-foreground mb-4">
        {t("services.title")}
      </h2>
      <p class="text-lg text-muted-foreground max-w-2xl mx-auto mb-6">
        {t("services.description")}
      </p>
      <ul class={`text-lg text-muted-foreground max-w-2xl mx-auto space-y-4 list-disc flex flex-col items-center ${lang === 'he' ? 'text-right' : 'text-left'}`}>
        <li class="w-full">
          <span class="font-semibold">{t("services.bullets.one")}</span>
          <p class="text-base text-muted-foreground mt-1">{t("services.bullets.one.description")}</p>
        </li>
        <li class="w-full">
          <span class="font-semibold">{t("services.bullets.two")}</span>
          <p class="text-base text-muted-foreground mt-1">{t("services.bullets.two.description")}</p>
        </li>
        <li class="w-full">
          <span class="font-semibold">{t("services.bullets.three")}</span>
          <p class="text-base text-muted-foreground mt-1">{t("services.bullets.three.description")}</p>
        </li>
      </ul>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 max-w-7xl mx-auto">
      {
        services.map((service, index) => (
          <ServiceCard {...service} client:visible />
        ))
      }
    </div>
  </div>
</section>
